<a href="https://colab.research.google.com/github/Duban1922/Dub_1922/blob/main/CORTE_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**NAIMING**

4.1 Conditions and restrictions

# You cant start a name with a number

# 1a1 = 5 = this gives an error

In [ ]:
from os import error
# You cant use spaces in a name

My age = 18 = This gives an error

## Solution - Use _

my_age = 18

## 4.2 Best practice

In [3]:
# Consider that python is sensible to lower a upper cases

age = 25
Age = 26
AGE = 27

## BEST PRACTICE

#Utilice minusculas simpre

# **5. Variable types**

## 5.3 Booleans

Variables that only take two values: "true" and "false" = "1" and "0"

In [9]:
# Booleans expressions

x = 2
y = 3

print(x < y) # Menor
print( x == y) # Igual
print( x > y) # Mayor
print( x != y) # Diferente

True
False
False
True

In [10]:
# You Can save a boolena expression

b1 = x > y
print(b1)

False

In [12]:
# Exercise

## Create a loop forchecking if tow numbers are <. >, == or !=
## use the number from 1 to 3

## Solution

for x in range (1,4):
  for y in range (1,4):
    print( "x = ", x , "y = ", y)
    print(x < y) # Menor
    print( x == y) # Igual
    print( x > y) # Mayor
    print( x != y) # Diferente

x =  1 y =  1
False
True
False
False
x =  1 y =  2
True
False
False
True
x =  1 y =  3
True
False
False
True
x =  2 y =  1
False
False
True
True
x =  2 y =  2
False
True
False
False
x =  2 y =  3
True
False
False
True
x =  3 y =  1
False
False
True
True
x =  3 y =  2
False
False
True
True
x =  3 y =  3
False
True
False
False

## 5.2. String

Variables that contained text

In [13]:
# Example

full_name = "DUBAN CESPEDES SANCHEZ"
print(full_name)

DUBAN CESPEDES SANCHEZ

In [16]:
# Slicing

full_name[2]

'B'

In [18]:
# Example - subse

full_name[0: 5]

'DUBAN'