<a href="https://colab.research.google.com/github/Duban1922/Dub_1922/blob/main/python_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. QUE ES UNA VARIABLE

*Container that store values

# **2. Declaration**

In [ ]:
a = 5

In [ ]:
print(a)

5

In [ ]:
# Example
print(a + 1)
print(a * a)

6
25

In [ ]:
# Trucos

x = y = z = 100

In [ ]:
# truco
n, m = 10, 15

# **3. Borrar y eliminar variables

In [ ]:
# delete one or more variabels
del x, n

In [ ]:
# Clear all variables
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [ ]:
# Exercise
## Print result of rounding to 3 decimals the calcule 10 divided bt its precednets
## Using variables

In [ ]:
a = 20 #number
b = 4  #decimals


for i in range(1,a+1):
  print("Aprox, with", i, "decimals is", round(a/ i, b))

Aprox, with 1 decimals is 20.0
Aprox, with 2 decimals is 10.0
Aprox, with 3 decimals is 6.6667
Aprox, with 4 decimals is 5.0
Aprox, with 5 decimals is 4.0
Aprox, with 6 decimals is 3.3333
Aprox, with 7 decimals is 2.8571
Aprox, with 8 decimals is 2.5
Aprox, with 9 decimals is 2.2222
Aprox, with 10 decimals is 2.0
Aprox, with 11 decimals is 1.8182
Aprox, with 12 decimals is 1.6667
Aprox, with 13 decimals is 1.5385
Aprox, with 14 decimals is 1.4286
Aprox, with 15 decimals is 1.3333
Aprox, with 16 decimals is 1.25
Aprox, with 17 decimals is 1.1765
Aprox, with 18 decimals is 1.1111
Aprox, with 19 decimals is 1.0526
Aprox, with 20 decimals is 1.0

In [ ]:
Multiplos de 100 con variable

for i in range(1,101):
  print(7*i)

In [ ]:
n = 100
m = 7
for i in range( 1, n+1):
  print(n*i)

100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500
4600
4700
4800
4900
5000
5100
5200
5300
5400
5500
5600
5700
5800
5900
6000
6100
6200
6300
6400
6500
6600
6700
6800
6900
7000
7100
7200
7300
7400
7500
7600
7700
7800
7900
8000
8100
8200
8300
8400
8500
8600
8700
8800
8900
9000
9100
9200
9300
9400
9500
9600
9700
9800
9900
10000