<a href="https://colab.research.google.com/github/Duban1922/Dub_1922/blob/main/Workshop_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1 align = "center">
<strong> Universidad de La Salle </strong>
</h1>

<h1 align = "center">
<strong> Finance and International Commerce Program </strong>
</h1>

<h1 align = "center">
<strong> Data Visualization - Workshop 1 </strong>
</h1>

# **Instructions**

1. Please read carefully the document. Ask all the questions you may have.
2. Save this file in your Google Drive.
3. DO NOT alter any cell unless it specifically ask you to do it.
4. You will have **two hours** (until 11am) maximum to finish and deliver this workshop.
5. You can use any help you want: your notes, your codes, internet, classmates.
6. Nevertheless, the workshop must be presented individually.
7. Once you have finish, save a copy in your GitHub class repository.
8. The deliver process is as follows:
    
    8.1. Via email you will send the link to the GitHub location.
    
    8.2. In the same mail, just for safety, you will attach a copy of your `.ipynb` file.
    
    8.3. The email must have the subject: "W1 DV".

# **To keep in mind**

* The excercises propouse are intended to **push** you a little futher in your Pyton skills.
* This means that there are going to be exercises above the level seen in class.
* The idea is to incentive your creative thinking and solving problem skills.
* As always there several ways to do the excersice. But in this case, I ask you to use only the tools we learned.
* I ask you to trust me. Give your best effort. Grades do not matter here.

# **Exercise Set**

## Ex 1.

In the cell code below, first create a variable with your full name then write the appropiate code, using *split*, to print your full name as this:

`First Name: José` &nbsp;   &nbsp;   &nbsp;   &nbsp;   &nbsp; `Middle Name: Rodrigo`

`First Last  Name: Vélez` &nbsp;   &nbsp;   &nbsp;   &nbsp;   &nbsp; `Second Last Name: Molano`

In [19]:
# Answ. Ex 1
# (write your code below)

a = "Duban"
b = "Fernando"
c = "Cespedes"
d = "Sanchez"

print( a + b + c + d)

print("First name:", a)
print("Niddle name:", b)
print("Firts last name:", c)
print("Second last name:", d)

DubanFernandoCespedesSanchez
First name: Duban
Niddle name: Fernando
Firts last name: Cespedes
Second last name: Sanchez

## Ex 2.

In the cell code below, you are given two random numbers `x` and `y`.

Write the appropiate code to print the result of dividing `x` by all its precedents rounded by `y` decimal positions.

This is an example of the expected result for `x = 15` and `y = 2`:

`15 / 1 = 15.00`

`15 / 2 = 7.50`

`15 / 3 = 5.00`

`...`

`15 / 15 = 1.00`

**JUST IN CASE!** You must use the variables given to you

In [112]:
# Answ. Ex 2
###################################
#      DO NOT MODIFY THIS PART    #
import numpy as np
x = round(np.random.uniform(12,22))
y = round(np.random.uniform(1,4))
###################################

# (write your code below)
x = 13
y= 3

for i in range(y, x):
  print(y, "/", i, "decimals is", round( y/i, y))

3 / 3 decimals is 1.0
3 / 4 decimals is 0.75
3 / 5 decimals is 0.6
3 / 6 decimals is 0.5
3 / 7 decimals is 0.429
3 / 8 decimals is 0.375
3 / 9 decimals is 0.333
3 / 10 decimals is 0.3
3 / 11 decimals is 0.273
3 / 12 decimals is 0.25

## Ex 3.

The Fibonnaci sequence is a sequence constructed by the process:

$x_{i} = x_{i-1} + x_{i-2}$

where $x_{1} = x_{2} = 1$.

Below you are given a random number `z`, write the appropiate code to calculate and print the `z`th position of the Fibonnaci sequence.

In [139]:
# Answ. Ex 3
###################################
#      DO NOT MODIFY THIS PART    #
import numpy as np
z = round(np.random.uniform(50,100))
###################################

# (write your code below)

j = 1
k = 200

for i in range( j , k):
  print(i, "=", (1+i))

1 = 2
2 = 3
3 = 4
4 = 5
5 = 6
6 = 7
7 = 8
8 = 9
9 = 10
10 = 11
11 = 12
12 = 13
13 = 14
14 = 15
15 = 16
16 = 17
17 = 18
18 = 19
19 = 20
20 = 21
21 = 22
22 = 23
23 = 24
24 = 25
25 = 26
26 = 27
27 = 28
28 = 29
29 = 30
30 = 31
31 = 32
32 = 33
33 = 34
34 = 35
35 = 36
36 = 37
37 = 38
38 = 39
39 = 40
40 = 41
41 = 42
42 = 43
43 = 44
44 = 45
45 = 46
46 = 47
47 = 48
48 = 49
49 = 50
50 = 51
51 = 52
52 = 53
53 = 54
54 = 55
55 = 56
56 = 57
57 = 58
58 = 59
59 = 60
60 = 61
61 = 62
62 = 63
63 = 64
64 = 65
65 = 66
66 = 67
67 = 68
68 = 69
69 = 70
70 = 71
71 = 72
72 = 73
73 = 74
74 = 75
75 = 76
76 = 77
77 = 78
78 = 79
79 = 80
80 = 81
81 = 82
82 = 83
83 = 84
84 = 85
85 = 86
86 = 87
87 = 88
88 = 89
89 = 90
90 = 91
91 = 92
92 = 93
93 = 94
94 = 95
95 = 96
96 = 97
97 = 98
98 = 99
99 = 100
100 = 101
101 = 102
102 = 103
103 = 104
104 = 105
105 = 106
106 = 107
107 = 108
108 = 109
109 = 110
110 = 111
111 = 112
112 = 113
113 = 114
114 = 115
115 = 116
116 = 117
117 = 118
118 = 119
119 = 120
120 = 121
121 = 122
122 = 123
123 = 124
124 = 125
125 = 126
126 = 127
127 = 128
128 = 129
129 = 130
130 = 131
131 = 132
132 = 133
133 = 134
134 = 135
135 = 136
136 = 137
137 = 138
138 = 139
139 = 140
140 = 141
141 = 142
142 = 143
143 = 144
144 = 145
145 = 146
146 = 147
147 = 148
148 = 149
149 = 150
150 = 151
151 = 152
152 = 153
153 = 154
154 = 155
155 = 156
156 = 157
157 = 158
158 = 159
159 = 160
160 = 161
161 = 162
162 = 163
163 = 164
164 = 165
165 = 166
166 = 167
167 = 168
168 = 169
169 = 170
170 = 171
171 = 172
172 = 173
173 = 174
174 = 175
175 = 176
176 = 177
177 = 178
178 = 179
179 = 180
180 = 181
181 = 182
182 = 183
183 = 184
184 = 185
185 = 186
186 = 187
187 = 188
188 = 189
189 = 190
190 = 191
191 = 192
192 = 193
193 = 194
194 = 195
195 = 196
196 = 197
197 = 198
198 = 199
199 = 200

## Ex 4.

Create a string variable with the name of your favorite music artist or group.Write the appropiate code to print it in reversed order.

*Example:*

`w = 'Dog'`

Expected result: `'goD'`.

In [138]:
from os import name
# Answ. Ex 4
# (write your code below)


Name_artist = "Travis Scott"

Name_artist[::-1]

'ttocS sivarT'